src/main/resources/wsdl/WSQATracking-prod.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BatchTracingQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arbpl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="werks" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BatchTracingQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchTracingQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BarcodeTracingQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sBarcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BarcodeTracingQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BarcodeTracingQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BoxCodeTracingQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sBoxcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BoxCodeTracingQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BoxCodeTracingQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="BatchTracingQuerySoapIn">
    <wsdl:part name="parameters" element="tns:BatchTracingQuery" />
  </wsdl:message>
  <wsdl:message name="BatchTracingQuerySoapOut">
    <wsdl:part name="parameters" element="tns:BatchTracingQueryResponse" />
  </wsdl:message>
  <wsdl:message name="BarcodeTracingQuerySoapIn">
    <wsdl:part name="parameters" element="tns:BarcodeTracingQuery" />
  </wsdl:message>
  <wsdl:message name="BarcodeTracingQuerySoapOut">
    <wsdl:part name="parameters" element="tns:BarcodeTracingQueryResponse" />
  </wsdl:message>
  <wsdl:message name="BoxCodeTracingQuerySoapIn">
    <wsdl:part name="parameters" element="tns:BoxCodeTracingQuery" />
  </wsdl:message>
  <wsdl:message name="BoxCodeTracingQuerySoapOut">
    <wsdl:part name="parameters" element="tns:BoxCodeTracingQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="WSQATrackingSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BatchTracingQuery">
      <wsdl:input message="tns:BatchTracingQuerySoapIn" />
      <wsdl:output message="tns:BatchTracingQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BarcodeTracingQuery">
      <wsdl:input message="tns:BarcodeTracingQuerySoapIn" />
      <wsdl:output message="tns:BarcodeTracingQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BoxCodeTracingQuery">
      <wsdl:input message="tns:BoxCodeTracingQuerySoapIn" />
      <wsdl:output message="tns:BoxCodeTracingQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSQATrackingSoap" type="tns:WSQATrackingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchTracingQuery">
      <soap:operation soapAction="http://tempuri.org/BatchTracingQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarcodeTracingQuery">
      <soap:operation soapAction="http://tempuri.org/BarcodeTracingQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BoxCodeTracingQuery">
      <soap:operation soapAction="http://tempuri.org/BoxCodeTracingQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSQATrackingSoap12" type="tns:WSQATrackingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchTracingQuery">
      <soap12:operation soapAction="http://tempuri.org/BatchTracingQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarcodeTracingQuery">
      <soap12:operation soapAction="http://tempuri.org/BarcodeTracingQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BoxCodeTracingQuery">
      <soap12:operation soapAction="http://tempuri.org/BoxCodeTracingQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSQATracking">
    <wsdl:port name="WSQATrackingSoap" binding="tns:WSQATrackingSoap">
      <soap:address location="http://172.31.146.84/barcodetest/BarCode.WebService/WSQATracking.asmx" />
    </wsdl:port>
    <wsdl:port name="WSQATrackingSoap12" binding="tns:WSQATrackingSoap12">
      <soap12:address location="http://172.31.146.84/barcodetest/BarCode.WebService/WSQATracking.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>